<?xml version="1.0"?>
<robot name="QuadrupedRobot">
    <link name="robot_base">
        <collision name="QuadrupedRobot">
            <origin rpy="-3.141593 3.141593 -3.141593" xyz="0.000000 0.058000 0.224145" />
            <geometry>
                <mesh filename="file://Z:/stuff1/test_robot_base_coll_1.dae" />
            </geometry>
        </collision>
        <visual name="base_link_visual">
            <origin rpy="-3.141593 3.141593 -3.141593" xyz="0.000000 0.058000 0.224145" />
            <geometry>
                <mesh filename="file://Z:/stuff1/test_base_link_visual_vis_1.dae" />
            </geometry>
            <material name="base_link_visual_material">
                <color rgba="0.898039 0.917647 0.929412 1.0" />
            </material>
        </visual>
    </link>
    <joint type="revolute" name="joint11">
        <axis xyz="0 0 1" />
        <limit effort="5.0" velocity="6.28318530718" lower="-1.570796326795" upper="1.570796326795" />
        <parent link="robot_base" />
        <child link="leg11_respondable" />
        <origin rpy="0.000000 -1.570796 0.000000" xyz="0.181000 0.138000 0.224145" />
    </joint>
    <link name="leg11_respondable">
        <inertial>
            <origin rpy="1.570796 3.141593 -3.141593" xyz="-0.000000 -0.003703 0.004706" />
            <inertia ixy="-1.7717184184485e-21" ixz="4.3689270501941e-21" izz="0.00020168338836961" ixx="0.00031237713005535" iyz="2.3669794651681e-05" iyy="0.00027822467993044" />
            <mass value="0.30135684166799" />
        </inertial>
        <collision name="leg11_respondable">
            <origin rpy="1.570796 3.141593 -3.141593" xyz="0.000000 0.000000 0.000000" />
            <geometry>
                <mesh filename="file://Z:/stuff1/test_leg11_respondable_coll_1.dae" />
            </geometry>
        </collision>
        <visual name="leg11_visual">
            <origin rpy="1.570796 3.141593 -3.141593" xyz="0.000000 0.000000 0.000000" />
            <geometry>
                <mesh filename="file://Z:/stuff1/test_leg11_visual_vis_1.dae" />
            </geometry>
            <material name="leg11_visual_material">
                <color rgba="0.880000 0.660000 0.400000 1.0" />
            </material>
        </visual>
    </link>
    <joint type="revolute" name="joint12">
        <axis xyz="0 0 1" />
        <limit effort="0.0" velocity="0.0" lower="0.0" upper="6.28318530718" />
        <parent link="leg11_respondable" />
        <child link="leg12_respondable" />
        <origin rpy="1.570796 3.141593 -3.141593" xyz="0.000000 0.000000 0.000000" />
    </joint>
    <link name="leg12_respondable">
        <inertial>
            <origin rpy="-3.141593 3.141593 3.141593" xyz="0.019829 -0.000000 0.095155" />
            <inertia ixy="-2.6020852139652e-18" ixz="0.00029316314313376" izz="0.000758753104644" ixx="0.00074414565483716" iyz="3.7680073510576e-18" iyy="0.0012540229261377" />
            <mass value="0.47454500868766" />
        </inertial>
        <collision name="leg12_respondable">
            <origin rpy="-3.141593 3.141593 3.141593" xyz="0.000000 0.000000 0.000000" />
            <geometry>
                <mesh filename="file://Z:/stuff1/test_leg12_respondable_coll_1.dae" />
            </geometry>
        </collision>
        <visual name="leg12_visual">
            <origin rpy="-3.141593 3.141593 3.141593" xyz="0.000000 0.000000 0.000000" />
            <geometry>
                <mesh filename="file://Z:/stuff1/test_leg12_visual_vis_1.dae" />
            </geometry>
            <material name="leg12_visual_material">
                <color rgba="0.300000 0.900000 0.500000 1.0" />
            </material>
        </visual>
    </link>
    <joint type="revolute" name="joint13">
        <axis xyz="0 0 1" />
        <limit effort="0.0" velocity="0.0" lower="-2.5307274153919" upper="2.5307274153919" />
        <parent link="leg12_respondable" />
        <child link="leg13_respondable" />
        <origin rpy="-3.141593 3.141593 3.141593" xyz="0.126000 -0.000000 0.058608" />
    </joint>
    <link name="leg13_respondable">
        <inertial>
            <origin rpy="-3.141593 3.141593 3.141593" xyz="0.085586 -0.000000 0.002392" />
            <inertia ixy="2.0730075133964e-14" ixz="2.3317664366337e-15" izz="0.0007860837906668" ixx="2.4624100003828e-05" iyz="-1.9740271849193e-15" iyy="0.00077656913624133" />
            <mass value="0.15980953360372" />
        </inertial>
        <collision name="leg13_respondable">
            <origin rpy="-3.141593 3.141593 3.141593" xyz="0.000000 -0.000000 -0.000000" />
            <geometry>
                <mesh filename="file://Z:/stuff1/test_leg13_respondable_coll_1.dae" />
            </geometry>
        </collision>
        <visual name="leg13_visual">
            <origin rpy="-3.141593 3.141593 3.141593" xyz="0.000000 -0.000000 -0.000000" />
            <geometry>
                <mesh filename="file://Z:/stuff1/test_leg13_visual_vis_1.dae" />
            </geometry>
            <material name="leg13_visual_material">
                <color rgba="0.000000 0.800000 1.000000 1.0" />
            </material>
        </visual>
    </link>
    <joint type="revolute" name="joint21">
        <axis xyz="0 0 1" />
        <limit effort="0.0" velocity="0.0" lower="-1.570796326795" upper="1.570796326795" />
        <parent link="robot_base" />
        <child link="leg21_respondable" />
        <origin rpy="-3.141593 -1.570796 0.000000" xyz="0.181000 -0.022000 0.224145" />
    </joint>
    <link name="leg21_respondable">
        <inertial>
            <origin rpy="1.570796 3.141593 -3.141593" xyz="0.000000 -0.003703 -0.004706" />
            <inertia ixy="3.6747766840139e-21" ixz="4.3018926520041e-22" izz="0.00020168338836961" ixx="0.00031237713005535" iyz="-2.3669794651681e-05" iyy="0.00027822467993044" />
            <mass value="0.30135684166799" />
        </inertial>
        <collision name="leg21_respondable">
            <origin rpy="1.570796 3.141593 -3.141593" xyz="0.000000 0.000000 0.000000" />
            <geometry>
                <mesh filename="file://Z:/stuff1/test_leg21_respondable_coll_1.dae" />
            </geometry>
        </collision>
        <visual name="leg21_visual">
            <origin rpy="1.570796 3.141593 -3.141593" xyz="0.000000 0.000000 0.000000" />
            <geometry>
                <mesh filename="file://Z:/stuff1/test_leg21_visual_vis_1.dae" />
            </geometry>
            <material name="leg21_visual_material">
                <color rgba="0.880000 0.660000 0.400000 1.0" />
            </material>
        </visual>
    </link>
    <joint type="revolute" name="joint22">
        <axis xyz="0 0 1" />
        <limit effort="0.0" velocity="0.0" lower="0.0" upper="6.28318530718" />
        <parent link="leg21_respondable" />
        <child link="leg22_respondable" />
        <origin rpy="1.570796 3.141593 -3.141593" xyz="0.000000 0.000000 0.000000" />
    </joint>
    <link name="leg22_respondable">
        <inertial>
            <origin rpy="-3.141593 3.141593 -3.141593" xyz="0.019829 -0.000000 0.095155" />
            <inertia ixy="-2.6562953225895e-18" ixz="0.00029316314313376" izz="0.000758753104644" ixx="0.00074414565483716" iyz="3.7544548239015e-18" iyy="0.0012540229261377" />
            <mass value="0.47454500868766" />
        </inertial>
        <collision name="leg22_respondable">
            <origin rpy="-3.141593 3.141593 -3.141593" xyz="0.000000 0.000000 0.000000" />
            <geometry>
                <mesh filename="file://Z:/stuff1/test_leg22_respondable_coll_1.dae" />
            </geometry>
        </collision>
        <visual name="leg22_visual">
            <origin rpy="-3.141593 3.141593 -3.141593" xyz="0.000000 0.000000 0.000000" />
            <geometry>
                <mesh filename="file://Z:/stuff1/test_leg22_visual_vis_1.dae" />
            </geometry>
            <material name="leg22_visual_material">
                <color rgba="0.300000 0.900000 0.500000 1.0" />
            </material>
        </visual>
    </link>
    <joint type="revolute" name="joint23">
        <axis xyz="0 0 1" />
        <limit effort="0.0" velocity="0.0" lower="-2.5307274153919" upper="2.5307274153919" />
        <parent link="leg22_respondable" />
        <child link="leg23_respondable" />
        <origin rpy="-3.141593 3.141593 -3.141593" xyz="0.126000 -0.000000 0.063392" />
    </joint>
    <link name="leg23_respondable">
        <inertial>
            <origin rpy="3.141593 3.141593 -3.141593" xyz="0.085586 0.000000 -0.002392" />
            <inertia ixy="-2.0729804930454e-14" ixz="-2.3319260433637e-15" izz="0.0007860837906668" ixx="2.4624100003828e-05" iyz="-1.9740300634324e-15" iyy="0.00077656913624133" />
            <mass value="0.15980953360372" />
        </inertial>
        <collision name="leg23_respondable">
            <origin rpy="3.141593 3.141593 -3.141593" xyz="0.000000 0.000000 0.000000" />
            <geometry>
                <mesh filename="file://Z:/stuff1/test_leg23_respondable_coll_1.dae" />
            </geometry>
        </collision>
        <visual name="leg23_visual">
            <origin rpy="3.141593 3.141593 -3.141593" xyz="0.000000 0.000000 0.000000" />
            <geometry>
                <mesh filename="file://Z:/stuff1/test_leg23_visual_vis_1.dae" />
            </geometry>
            <material name="leg23_visual_material">
                <color rgba="0.000000 0.800000 1.000000 1.0" />
            </material>
        </visual>
    </link>
    <joint type="revolute" name="joint31">
        <axis xyz="0 0 1" />
        <limit effort="0.0" velocity="0.0" lower="-1.570796326795" upper="1.570796326795" />
        <parent link="robot_base" />
        <child link="leg31_respondable" />
        <origin rpy="-0.000000 -1.570796 0.000000" xyz="-0.181000 0.138000 0.224145" />
    </joint>
    <link name="leg31_respondable">
        <inertial>
            <origin rpy="1.570796 3.141593 3.141593" xyz="-0.000000 -0.003703 -0.004706" />
            <inertia ixy="-5.5089283264461e-21" ixz="2.6724740854147e-21" izz="0.00020168338836961" ixx="0.00031237713005535" iyz="-2.3669794651681e-05" iyy="0.00027822467993044" />
            <mass value="0.30135684166799" />
        </inertial>
        <collision name="leg31_respondable">
            <origin rpy="1.570796 3.141593 3.141593" xyz="0.000000 0.000000 0.000000" />
            <geometry>
                <mesh filename="file://Z:/stuff1/test_leg31_respondable_coll_1.dae" />
            </geometry>
        </collision>
        <visual name="leg31_visual">
            <origin rpy="1.570796 3.141593 3.141593" xyz="0.000000 0.000000 0.000000" />
            <geometry>
                <mesh filename="file://Z:/stuff1/test_leg31_visual_vis_1.dae" />
            </geometry>
            <material name="leg31_visual_material">
                <color rgba="0.880000 0.660000 0.400000 1.0" />
            </material>
        </visual>
    </link>
    <joint type="revolute" name="joint32">
        <axis xyz="0 0 1" />
        <limit effort="0.0" velocity="0.0" lower="0.0" upper="6.28318530718" />
        <parent link="leg31_respondable" />
        <child link="leg32_respondable" />
        <origin rpy="1.570796 3.141593 3.141593" xyz="0.000000 0.000000 0.000000" />
    </joint>
    <link name="leg32_respondable">
        <inertial>
            <origin rpy="-3.141593 3.141593 3.141593" xyz="0.019829 -0.000000 0.095155" />
            <inertia ixy="-1.8431436932254e-18" ixz="0.00029316314313376" izz="0.000758753104644" ixx="0.00074414565483715" iyz="3.011857296083e-18" iyy="0.0012540229261377" />
            <mass value="0.47454500868766" />
        </inertial>
        <collision name="leg32_respondable">
            <origin rpy="-3.141593 3.141593 3.141593" xyz="0.000000 0.000000 0.000000" />
            <geometry>
                <mesh filename="file://Z:/stuff1/test_leg32_respondable_coll_1.dae" />
            </geometry>
        </collision>
        <visual name="leg32_visual">
            <origin rpy="-3.141593 3.141593 3.141593" xyz="0.000000 0.000000 0.000000" />
            <geometry>
                <mesh filename="file://Z:/stuff1/test_leg32_visual_vis_1.dae" />
            </geometry>
            <material name="leg32_visual_material">
                <color rgba="0.300000 0.900000 0.500000 1.0" />
            </material>
        </visual>
    </link>
    <joint type="revolute" name="joint33">
        <axis xyz="0 0 1" />
        <limit effort="0.0" velocity="0.0" lower="-2.5307274153919" upper="2.5307274153919" />
        <parent link="leg32_respondable" />
        <child link="leg33_respondable" />
        <origin rpy="-3.141593 3.141593 3.141593" xyz="0.126000 0.000000 0.061000" />
    </joint>
    <link name="leg33_respondable">
        <inertial>
            <origin rpy="-3.141593 3.141593 3.141593" xyz="0.085586 -0.000000 -0.000000" />
            <inertia ixy="2.073059436516e-14" ixz="2.3302533063268e-15" izz="0.0007860837906668" ixx="2.4624100003828e-05" iyz="-1.9740024988439e-15" iyy="0.00077656913624133" />
            <mass value="0.15980953360372" />
        </inertial>
        <collision name="leg33_respondable">
            <origin rpy="-3.141593 3.141593 3.141593" xyz="-0.000000 -0.000000 -0.000000" />
            <geometry>
                <mesh filename="file://Z:/stuff1/test_leg33_respondable_coll_1.dae" />
            </geometry>
        </collision>
        <visual name="leg33_visual">
            <origin rpy="-3.141593 3.141593 3.141593" xyz="-0.000000 -0.000000 -0.000000" />
            <geometry>
                <mesh filename="file://Z:/stuff1/test_leg33_visual_vis_1.dae" />
            </geometry>
            <material name="leg33_visual_material">
                <color rgba="0.000000 0.800000 1.000000 1.0" />
            </material>
        </visual>
    </link>
    <joint type="revolute" name="joint41">
        <axis xyz="0 0 1" />
        <limit effort="0.0" velocity="0.0" lower="-1.570796326795" upper="1.570796326795" />
        <parent link="robot_base" />
        <child link="leg41_respondable" />
        <origin rpy="-3.141593 -1.570796 0.000000" xyz="-0.181000 -0.022000 0.224145" />
    </joint>
    <link name="leg41_respondable">
        <inertial>
            <origin rpy="1.570796 3.141593 3.141593" xyz="0.000000 -0.003703 0.004706" />
            <inertia ixy="2.7515066542024e-21" ixz="-3.487000000544e-21" izz="0.00020168338836961" ixx="0.00031237713005535" iyz="2.3669794651681e-05" iyy="0.00027822467993044" />
            <mass value="0.30135684166799" />
        </inertial>
        <collision name="leg41_respondable">
            <origin rpy="1.570796 3.141593 3.141593" xyz="0.000000 0.000000 0.000000" />
            <geometry>
                <mesh filename="file://Z:/stuff1/test_leg41_respondable_coll_1.dae" />
            </geometry>
        </collision>
        <visual name="leg41_visual">
            <origin rpy="1.570796 3.141593 3.141593" xyz="0.000000 0.000000 0.000000" />
            <geometry>
                <mesh filename="file://Z:/stuff1/test_leg41_visual_vis_1.dae" />
            </geometry>
            <material name="leg41_visual_material">
                <color rgba="0.880000 0.660000 0.400000 1.0" />
            </material>
        </visual>
    </link>
    <joint type="revolute" name="joint42">
        <axis xyz="0 0 1" />
        <limit effort="0.0" velocity="0.0" lower="0.0" upper="6.28318530718" />
        <parent link="leg41_respondable" />
        <child link="leg42_respondable" />
        <origin rpy="1.570796 3.141593 3.141593" xyz="0.000000 0.000000 0.000000" />
    </joint>
    <link name="leg42_respondable">
        <inertial>
            <origin rpy="-3.141593 3.141593 -3.141593" xyz="0.019829 -0.000000 0.095155" />
            <inertia ixy="-1.7618285302889e-18" ixz="0.00029316314313376" izz="0.000758753104644" ixx="0.00074414565483716" iyz="3.0321860868171e-18" iyy="0.0012540229261377" />
            <mass value="0.47454500868766" />
        </inertial>
        <collision name="leg42_respondable">
            <origin rpy="-3.141593 3.141593 -3.141593" xyz="0.000000 0.000000 0.000000" />
            <geometry>
                <mesh filename="file://Z:/stuff1/test_leg42_respondable_coll_1.dae" />
            </geometry>
        </collision>
        <visual name="leg42_visual">
            <origin rpy="-3.141593 3.141593 -3.141593" xyz="0.000000 0.000000 0.000000" />
            <geometry>
                <mesh filename="file://Z:/stuff1/test_leg42_visual_vis_1.dae" />
            </geometry>
            <material name="leg42_visual_material">
                <color rgba="0.300000 0.900000 0.500000 1.0" />
            </material>
        </visual>
    </link>
    <joint type="revolute" name="joint43">
        <axis xyz="0 0 1" />
        <limit effort="0.0" velocity="0.0" lower="-2.5307274153919" upper="2.5307274153919" />
        <parent link="leg42_respondable" />
        <child link="leg43_respondable" />
        <origin rpy="3.141593 3.141593 3.141593" xyz="0.126000 0.000000 0.061000" />
    </joint>
    <link name="leg43_respondable">
        <inertial>
            <origin rpy="-3.141593 3.141593 -3.141593" xyz="0.085586 0.000000 0.000000" />
            <inertia ixy="-2.073033856121e-14" ixz="-2.3301875492023e-15" izz="0.0007860837906668" ixx="2.4624100003828e-05" iyz="-1.974001315519e-15" iyy="0.00077656913624132" />
            <mass value="0.15980953360372" />
        </inertial>
        <collision name="leg43_respondable">
            <origin rpy="-3.141593 3.141593 -3.141593" xyz="0.000000 0.000000 0.000000" />
            <geometry>
                <mesh filename="file://Z:/stuff1/test_leg43_respondable_coll_1.dae" />
            </geometry>
        </collision>
        <visual name="leg43_visual">
            <origin rpy="-3.141593 3.141593 -3.141593" xyz="0.000000 0.000000 0.000000" />
            <geometry>
                <mesh filename="file://Z:/stuff1/test_leg43_visual_vis_1.dae" />
            </geometry>
            <material name="leg43_visual_material">
                <color rgba="0.000000 0.800000 1.000000 1.0" />
            </material>
        </visual>
    </link>
</robot>
