<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="simplified_model.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="5.47434840386694E-18 2.55179282232552E-16 3.93671223977149E-18"
        rpy="0 0 0" />
      <mass
        value="12.3505861948935" />
      <inertia
        ixx="0.0552925091791178"
        ixy="3.99354699393272E-17"
        ixz="1.46933120049119E-18"
        iyy="0.0745145490897858"
        iyz="-1.5469933898811E-16"
        izz="0.116976664044279" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simplified_model.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simplified_model.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="leg11">
    <inertial>
      <origin
        xyz="2.95448046390318E-16 -0.00470579917560623 -0.00370298925443703"
        rpy="0 0 0" />
      <mass
        value="0.301356841667992" />
      <inertia
        ixx="0.00031237713005535"
        ixy="-1.77171841844848E-21"
        ixz="4.36892705019405E-21"
        iyy="0.000278224679930442"
        iyz="2.3669794651681E-05"
        izz="0.00020168338836961" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simplified_model.SLDASM/meshes/leg11.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simplified_model.SLDASM/meshes/leg11.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint11"
    type="revolute">
    <origin
      xyz="0.181 0.08 0"
      rpy="1.5707963267949 -1.5707963267949 0" />
    <parent
      link="base_link" />
    <child
      link="leg11" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg12">
    <inertial>
      <origin
        xyz="0.0198293844099956 -3.88578058618805E-16 0.0951546393000447"
        rpy="0 0 0" />
      <mass
        value="0.474545008687657" />
      <inertia
        ixx="0.000744145654837156"
        ixy="-2.60208521396521E-18"
        ixz="0.00029316314313376"
        iyy="0.00125402292613774"
        iyz="3.76800735105758E-18"
        izz="0.000758753104643996" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simplified_model.SLDASM/meshes/leg12.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simplified_model.SLDASM/meshes/leg12.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint12"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 -2.03979862619672" />
    <parent
      link="leg11" />
    <child
      link="leg12" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg13">
    <inertial>
      <origin
        xyz="0.0855858745347819 -3.47361722718986E-12 0.00239181473428293"
        rpy="0 0 0" />
      <mass
        value="0.159809533603717" />
      <inertia
        ixx="2.46241000038277E-05"
        ixy="2.07300751339638E-14"
        ixz="2.33176643663368E-15"
        iyy="0.000776569136241325"
        iyz="-1.97402718491934E-15"
        izz="0.000786083790666802" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simplified_model.SLDASM/meshes/leg13.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simplified_model.SLDASM/meshes/leg13.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint13"
    type="revolute">
    <origin
      xyz="0.126 0 0.0586081852654754"
      rpy="0 0 -1.76132598286924" />
    <parent
      link="leg12" />
    <child
      link="leg13" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg21">
    <inertial>
      <origin
        xyz="-2.8862325545824E-16 0.00470579917560623 -0.00370298925443702"
        rpy="0 0 0" />
      <mass
        value="0.301356841667992" />
      <inertia
        ixx="0.00031237713005535"
        ixy="3.67477668401388E-21"
        ixz="4.30189265200411E-22"
        iyy="0.000278224679930441"
        iyz="-2.3669794651681E-05"
        izz="0.00020168338836961" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simplified_model.SLDASM/meshes/leg21.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simplified_model.SLDASM/meshes/leg21.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint21"
    type="revolute">
    <origin
      xyz="0.181 -0.08 0"
      rpy="1.5707963267949 -1.5707963267949 0" />
    <parent
      link="base_link" />
    <child
      link="leg21" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg22">
    <inertial>
      <origin
        xyz="0.0198293844099959 -4.02455846426619E-16 0.0951546393000447"
        rpy="0 0 0" />
      <mass
        value="0.474545008687657" />
      <inertia
        ixx="0.000744145654837156"
        ixy="-2.65629532258949E-18"
        ixz="0.00029316314313376"
        iyy="0.00125402292613774"
        iyz="3.75445482390152E-18"
        izz="0.000758753104643997" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simplified_model.SLDASM/meshes/leg22.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simplified_model.SLDASM/meshes/leg22.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint22"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 2.03979862619672" />
    <parent
      link="leg21" />
    <child
      link="leg22" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg23">
    <inertial>
      <origin
        xyz="0.0855858745347818 3.47364498276548E-12 -0.00239154065477623"
        rpy="0 0 0" />
      <mass
        value="0.159809533603717" />
      <inertia
        ixx="2.46241000038276E-05"
        ixy="-2.07298049304536E-14"
        ixz="-2.33192604336374E-15"
        iyy="0.000776569136241325"
        iyz="-1.97403006343245E-15"
        izz="0.000786083790666803" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simplified_model.SLDASM/meshes/leg23.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simplified_model.SLDASM/meshes/leg23.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint23"
    type="revolute">
    <origin
      xyz="0.126 0 0.0633915406550179"
      rpy="0 0 1.76132598286924" />
    <parent
      link="leg22" />
    <child
      link="leg23" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg31">
    <inertial>
      <origin
        xyz="2.73636611246907E-16 0.00470579917560623 -0.00370298925443699"
        rpy="0 0 0" />
      <mass
        value="0.301356841667992" />
      <inertia
        ixx="0.000312377130055351"
        ixy="-5.50892832644609E-21"
        ixz="2.67247408541473E-21"
        iyy="0.000278224679930442"
        iyz="-2.3669794651681E-05"
        izz="0.00020168338836961" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simplified_model.SLDASM/meshes/leg31.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simplified_model.SLDASM/meshes/leg31.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint31"
    type="revolute">
    <origin
      xyz="-0.181 0.0799999999999998 0"
      rpy="1.5707963267949 -1.5707963267949 0" />
    <parent
      link="base_link" />
    <child
      link="leg31" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg32">
    <inertial>
      <origin
        xyz="0.019829384409996 -2.22044604925031E-16 0.0951546393000443"
        rpy="0 0 0" />
      <mass
        value="0.474545008687657" />
      <inertia
        ixx="0.000744145654837155"
        ixy="-1.84314369322536E-18"
        ixz="0.000293163143133759"
        iyy="0.00125402292613774"
        iyz="3.01185729608304E-18"
        izz="0.000758753104643996" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simplified_model.SLDASM/meshes/leg32.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simplified_model.SLDASM/meshes/leg32.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint32"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 -2.03979862619672" />
    <parent
      link="leg31" />
    <child
      link="leg32" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg33">
    <inertial>
      <origin
        xyz="0.0855858745347819 -3.47366579944719E-12 -2.41501263431587E-13"
        rpy="0 0 0" />
      <mass
        value="0.159809533603718" />
      <inertia
        ixx="2.46241000038278E-05"
        ixy="2.07305943651604E-14"
        ixz="2.33025330632682E-15"
        iyy="0.000776569136241325"
        iyz="-1.97400249884394E-15"
        izz="0.000786083790666803" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simplified_model.SLDASM/meshes/leg33.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simplified_model.SLDASM/meshes/leg33.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint33"
    type="revolute">
    <origin
      xyz="0.126 0 0.0609999999999996"
      rpy="0 0 -1.76132598286924" />
    <parent
      link="leg32" />
    <child
      link="leg33" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg41">
    <inertial>
      <origin
        xyz="-2.83397247261829E-16 -0.00470579917560626 -0.00370298925443702"
        rpy="0 0 0" />
      <mass
        value="0.301356841667992" />
      <inertia
        ixx="0.00031237713005535"
        ixy="2.7515066542024E-21"
        ixz="-3.487000000544E-21"
        iyy="0.000278224679930441"
        iyz="2.3669794651681E-05"
        izz="0.00020168338836961" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simplified_model.SLDASM/meshes/leg41.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simplified_model.SLDASM/meshes/leg41.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint41"
    type="revolute">
    <origin
      xyz="-0.181 -0.0800000000000002 0"
      rpy="1.57079632679489 -1.5707963267949 0" />
    <parent
      link="base_link" />
    <child
      link="leg41" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg42">
    <inertial>
      <origin
        xyz="0.0198293844099955 -1.94289029309402E-16 0.0951546393000452"
        rpy="0 0 0" />
      <mass
        value="0.474545008687657" />
      <inertia
        ixx="0.000744145654837156"
        ixy="-1.76182853028894E-18"
        ixz="0.00029316314313376"
        iyy="0.00125402292613774"
        iyz="3.03218608681715E-18"
        izz="0.000758753104643997" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simplified_model.SLDASM/meshes/leg42.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simplified_model.SLDASM/meshes/leg42.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint42"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 2.03979862619672" />
    <parent
      link="leg41" />
    <child
      link="leg42" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg43">
    <inertial>
      <origin
        xyz="0.0855858745347815 3.47327722138857E-12 2.41445752280356E-13"
        rpy="0 0 0" />
      <mass
        value="0.159809533603717" />
      <inertia
        ixx="2.46241000038277E-05"
        ixy="-2.07303385612104E-14"
        ixz="-2.33018754920233E-15"
        iyy="0.000776569136241324"
        iyz="-1.97400131551903E-15"
        izz="0.000786083790666802" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simplified_model.SLDASM/meshes/leg43.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://simplified_model.SLDASM/meshes/leg43.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint43"
    type="revolute">
    <origin
      xyz="0.126 0 0.0610000000000005"
      rpy="0 0 1.76132598286924" />
    <parent
      link="leg42" />
    <child
      link="leg43" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>